<div class="container">
  <h2 class="text-center mt-4"><%= @user.username %>'s profile</h2>
  <%= gravatar_for @user, size: 200 %>

  <h3 class="text-center mt-4">Articles</h3>
  <%= render "articles/article" %>
  <div class="row justify-content-center text-center">
    <div class="col-8 mt-4">

    </div>
    <%= link_to "[ Back to Articles ]", articles_path, method: :get, class: "text-info" %>
  </div>
</div>
