<div class="page-content">
  <section
    class="hero hero-parallax container border rounded"
    style="background-image: url('<%= image_path("hero3.jpg") %>')"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="height: 40vh;"
    >
      <h1 class="display-4 text-white fw-bold logo">ALPHA-BLOG</h1>
      <p class="lead text-white-50">Your tagline</p>
    </div>
  </section>

  <div class="">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2>Welcome to the ALPHA-BLOG</h2>
      <p>Here, you can create any text post you can imagine.</p>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <a href="/articles" class="btn btn-primary">Articles</a>
      |
      <a href="/about" class="btn btn-outline-primary">About</a>
    </div>
  </div>

</div>
