.hero {
  position: relative;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  /* max-width: 90%;
  left: 5%; */
}

/* .hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0);
} */

.hero-parallax {
  /* background-attachment: fixed; */
}

@media (prefers-reduced-motion: reduce) {
  .hero-parallax {
    background-attachment: scroll;
  }
}

.logo {
  letter-spacing: -0.4rem;
}

.logo-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50vh;
  /* margin: auto; */
}

.container {
  max-width: 90%;
}

.page-content {
  flex: 1 0 auto;
  background-color: rgb(238, 238, 238);
}



/* Pagination Styling */

.apple_pagination {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}

.page_info {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.4em 0.6em;
  width: 20em;
  /* margin-bottom: 0.3em; */
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
}

.page_info b {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: auto;
  padding: 0px 5px;
  margin: 0px 5px;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}